{% extends 'base.html' %}

{% load static %}

{% block content %}


    <section class="container-fluid">
        <div class="container pt-5 pb-5">
            {% for row in desig %}
                <div class="row">
                    <div class="col-12">
                        <h6 class="font-weight-normal text-justify">{{ row.description }}</h6>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                        <div class="text-right"
                             style="background-image: url({{ row.image1.url }}); background-size: cover; height: 200px;">
                            <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                <h4 class="pb-5 pt-2 text-white text-left">Chop etish dizayni</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                        <div class="text-right"
                             style="background-image: url({{ row.image2.url }}); background-size: cover; height: 200px;">
                            <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                <h4 class="pb-5 pt-2 text-white text-left">Tashqi reklama</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 p-2">
                        <div class="text-right"
                             style="background-image: url({{ row.image3.url }}); background-size: cover; height: 200px;">
                            <div class="p-3" style="background-color: rgba(0,0,0,0.5); height:100%;">
                                <h4 class="pb-5 pt-2 text-white text-left">Brendlash</h4>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><h1
                        class="font-weight-bold h2 text-center pt-5 pb-3">Bizning ishimiz.</h1></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d3.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d1.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="border p-2"><img src="{% static 'img/type/d2.jpg' %}" width="100%" height="200" alt=""></div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
	